@import '../../../common/style/sass/mixins';
@import '../../../common/style/sass/variable';

.item {
  width: 269px;
  height: 40px;
  @include text(400, 18px);
  line-height: 28px;
  border: none;
  border-bottom: 1px solid rgba(12, 56, 69, 0.08);
  background-color: $secondbackgroundColor;
  margin: 12px auto;
  cursor: pointer;
}