@import '../../common/style/sass/mixins';
@import '../../common/style/sass/variable';

.advantagesContainer {
  width: 939px;
  height: 506px;
  border-radius: 16px;
  padding: 88px 196px 88px 196px;
  margin-left: 196px;
  background-image: linear-gradient(to right bottom, #323c46, #1b687e, #0099a4, #00caac, #4ff997);
  margin-bottom: 88px;

  .advantagesTitle {
    @include textPosition(flex, center, nowrap);
    text-align: center;
    @include text(700, 72px);
    line-height: 90px;
    color: $whiteTextColor;
    margin-top: 0px;
  }

  .advantagesTableContainer {
    width: 100%;

    td {
      border-bottom: 1px solid #3F4953
    }

    .tableHeader {
      background-color: #40C3E2;
      width: 154px;
      height: 56px;
      border-radius: 16px 16px 0 0;

      .tableHeaderImage {
        width: 96px;
        height: 24px;
      }
    }

    .evaCloseFill {
      background-color: #4FF997;
      text-align: center;
    }

    .evaCheckmarkRed {
      text-align: center;
    }

    .tableHeaderOffice {
      width: 154px;
      height: 56px;
      @include text(700, 20px);
      line-height: 28px;
      color: $whiteTextColor;
    }

    .tableDescription {
      @include text(400, 18px);
      line-height: 28px;
      color: $whiteTextColor;
      padding: 20px 114px 20px 107px;
    }
  }
}