@import '../../common/style/sass/mixins';
@import '../../common/style/sass/variable';


.questionContainer {
  width: 1048px;
  height: 368px;
  border-radius: 16px;
  padding: 88px 196px 88px 196px;
  margin-left: 196px;
  margin-top: 130px;
  background-image: linear-gradient(to right bottom, #323c46, #1b687e, #0099a4, #00caac, #4ff997);
  margin-bottom: 88px;

  .questionTitle {
    @include textPosition(flex, center, nowrap);
    text-align: center;
    @include text(700, 72px);
    line-height: 90px;
    color: $whiteTextColor;
    margin-top: 0px;
  }
  .btnContainer {
    @include textPosition(flex, center, nowrap);
    .btn {
      width: 252px;
      height: 56px;
      @include text(400, 18px);
      margin-top: 12px;
      padding: 10px 16px;
      border-radius: 16px;
      color: #fff;
      background-color: #4FF997;
      border: 1px solid;
      margin-right: 196px;
    }
  }
}